/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 2:46:53 PM
    Author     : Bhakti
*/
#header{
    font-family: 'Montserrat', sans-serif;    
}
#content{
    font-family: 'Georgia', sans-serif;
}